version: '3'
services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: faizanbashir/php
    container_name: book-ms-app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - .:/var/www
      - ./docker-compose/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - book-ms-network

  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: book-ms-webserver
    restart: unless-stopped
    tty: true
    ports:
      - "8067:80"
    volumes:
      - .:/var/www
      - ./docker-compose/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - book-ms-network

  #MySQL Service
  db:
    image: mysql:5.7.22
    container_name: book-ms-db
    restart: unless-stopped
    tty: true
    ports:
      - "33067:3306"
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: your_mysql_root_password
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - mysql:/var/lib/mysql/
      - ./docker-compose/mysql/my.cnf:/etc/mysql/my.cnf
    networks:
      - book-ms-network

#Docker Networks
networks:
  book-ms-network:
    driver: bridge
#Volumes
volumes:
  mysql:
    driver: local